doctype
html(lang='en')
	head
		title Product card
		meta(charset="utf-8")
		meta(name='description', content='Product card description')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel='stylesheet', href='/css/style.css')
	body
		.container
			article.productCard
				h3.productCard__title Кресло синее
				img.productCard__img(src='/img/tin.jpg' alt='Кресло синее')
				.productCard__desc
					| Прежде чем перевезти квартиру, наши специалисты упакуют бытовую технику. Прежде чем перевезти квартиру, наши специалисты упакуют бытовую технику.
				.productCard__priceContent
					.productCard__price 199.95
					.productCard__cachback 200
				button.productCard__buyBtn Купить


