@font-face {
  font-family: 'pf_highway_sans_proregular';
  src: url('pfhighwaysanspro-webfont.woff2') format('woff2'),
       url('pfhighwaysanspro-webfont.woff') format('woff'),
       url('PFHighwaySansPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pragmatica', arial;
  src: url('pragmatica-webfont.woff2') format('woff2'),
    url('pragmatica-webfont.woff') format('woff'),
    url('pragmatica.ttf') format('truetype');
}

